
        body{background-color:rgb(245, 245, 151);}

        div
        {
            background-color: white;
            margin:0 35% 1% 0;
            border: 2px;
        }
        .div1
        {
            border: solid gray;

        }
        .div2
        {
            border: solid gray;
            
        }
        .div3
        {
            color: red;
            border: dotted red;
            padding-bottom: 20px;
        }

        #p2
        {
            border: dotted red;
            margin: 10px 10px 10px 10px;
        }
        
       
        .ipsum
        {
            font-weight: bold;
            background-color:salmon;

        }
        .quia
        {
            background-color: yellow;
            font-weight: bold;

        }